
/** 
 * Animations
 ************/

 @keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}
.slideInFromBottom img {
    -webkit-animation: 1s ease-out 0s 1 slideInFromBottom;
    -moz-animation: 1s ease-out 0s 1 slideInFromBottom;
    animation: 1s ease-out 0s 1 slideInFromBottom;
}

@keyframes floating {
    0% {
        transform: translateY(0.1em);
    }
    100% {
        transform: translateY(0);
    }
}
.floating {
    -webkit-animation: floating 2s ease-out alternate infinite;
    -moz-animation: floating 2s ease-out alternate infinite;
    animation: floating 2s ease-out alternate infinite;
}

@keyframes fadeInV1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
.fadeInV1 {
    animation: 1s ease-out 0s 1 fadeInV1;
    animation: 1s ease-out 0s 1 fadeInV1;
    animation: 1s ease-out 0s 1 fadeInV1;
}

@keyframes fadeInV2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
.fadeInV2 {
    animation: 2s ease-out 0s 1 fadeInV2;
    animation: 2s ease-out 0s 1 fadeInV2;
    animation: 2s ease-out 0s 1 fadeInV2;
}

@keyframes slideInFromBottom2 {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

.slideUp {
  animation: 1s ease-in-out slideInFromBottom2;
}


/**
* Component Default 
*******************/

.wp-block-button__link {
    border-width: 2px!important;
}
.wp-block-button__link:active, .wp-block-button__link:focus, .wp-block-button__link:hover, .wp-block-button__link:visited {
    color: var(--rich-blue);
    text-decoration: none;
}

.mt35 {
    margin-top: 35px;
}

.mt85 {
    margin-top: 85px;
}
.mb85 {
    margin-bottom: 85px;
}

fieldset {
    border: none;
}

/**
 * Custom Fonts - Typekit / Buttons
 *********************************/

h1.hero-heading {
    font-size: calc(var(--hero-heading) - 40px);
    font-weight: 800;
    line-height: 1;
    z-index: 1;
    margin-top: 45px;
}
    @media (min-width: 991px){
        h1.hero-heading {
            margin-top: 0;
            font-size: calc(var(--hero-heading) - 200%);
        }
    }
    @media (min-width: 1200px){
        h1.hero-heading {
            font-size: calc(var(--hero-heading) - 150%);
        }
    }
    @media (min-width: 1399px){
        h1.hero-heading {
            font-size: var(--hero-heading);
        }
    }

.hero-paragraph p {
    font-size: var(--hero-paragraph);
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    z-index: 1;
}

.hopebtn1,
.hopebtn2,
.hopebtn3,
.wp-block-button__link {
    font-family: proxima-nova, 'Open Sans', sans-serif;
    font-style: normal;
    font-size: var(--hero-button-size);
    font-weight: 800;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 2.4;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    -webkit-transition: 0.175s ease-in-out;
    -moz-transition: 0.175s ease-in-out;
    transition: 0.175s ease-in-out;
    cursor: pointer;
    z-index: 1;
    background: none;
}
.hopebtn1:hover,
.hopebtn1:focus {
    background: var(--blue-aqua-1)!important;
    color: black;
}

.hopebtn2:hover,
.hopebtn2:focus {
    background: var(--rich-blue)!important;
    color: white!important;
}

.hopebtn3 {
    background: white;
}
.hopebtn3:hover,
.hopebtn3:focus {
    background: transparent!important;
}



.light0:hover, .light0:focus {
    background: white!important;
}
    .light0:hover a {
        color: var(--rich-blue)!important;
        text-decoration: none;
    }

.light1:hover, .light1:focus {
    background: var(--blue-aqua-1)!important;
}

.light2:hover , .light2:focus {
    background: var(--blue-aqua-2)!important;
}

.light3 {
    color: var(--rich-blue)!important;
}
.light3:hover, .light3:focus {
    color: white!important;
    background: var(--blue-aqua-3)!important;
}

.light3:hover .wt {
    color: white!important;
    text-decoration: none;
}
.wtonH:hover {
    color: white!important;
    text-decoration: none;
}



.wp-block-button__link {
    margin-top: 10px;
    border: 3px solid var(--blue-aqua-3);
    color: var(--rich-blue);
}
.wp-block-button__link:hover,
.wp-block-button__link:focus {
    background: var(--blue-aqua-3)!important;
    color: white;
}

/**nav**/

.main-navigation li:hover,
.main-navigation li:focus {
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    /*background: var(--blue-aqua);*/
}

/**
 * Full-Page Hero Component
 **************************/

.dynamic-full-page-hero {
    display: flex;
    height: 100%;
    width: 100%;
}
    /* @media (max-height: 650px){
        .dynamic-full-page-hero {
            height: 100%;
        }
    } */
    @media (min-width: 991px){
        .dynamic-full-page-hero {
            height: 100vh;
        }
    }

.dynamic-full-page-hero:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(circle, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%);
    /* background: radial-gradient(circle, rgba(200,232,234,0) 0%, rgba(163,217,219,1) 100%); */
    z-index: 0;
    pointer-events: none;
}
 
.dynamic-full-page-hero .left {
    flex: 1;
    align-self: flex-end;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
    margin-top: 20px;
}
    @media (min-width: 991px){
        .dynamic-full-page-hero .left {
            flex: 0 0 45%;
            padding-right: 30px;
            align-self: center;
        }
    }
    @media (min-width: 991px) and (max-width: 1199px){
        .dynamic-full-page-hero .left {
           margin-top: 9%;
        }
    }
    
.dynamic-full-page-hero .right {
    flex: 1;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
    pointer-events: none;
}
    @media (min-width: 991px){
        .dynamic-full-page-hero .right {
            flex: 0 0 55%;
        }
    }
 
 .dynamic-full-page-hero .post-thumbnail.fullpagesize img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: auto;
    z-index: 1;
 }
    @media (min-width: 1200){
        .dynamic-full-page-hero .post-thumbnail.fullpagesize img {
            max-width: 800px;
            max-height: 600px;
        }
    }

.post-thumbnail.fullpagesize {
    line-height: 0;
}

.container-simple {
    z-index: 0;
}


/**
* Wide Image
************/
.wide-image-container {
    display: flex;
}
.wide-image {
    width: 100%;
    max-height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.wide-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
    @media (min-width: 991px){
        .wide-image {
            max-height: 525px;
            object-fit: cover;
        }
    }


/**
 * Basic Columns
 **************/
.single {
    margin: 45px auto;
    max-width: 100%;
}
    @media (min-width: 991px){
        .single {
            margin: 65px 15%;
            max-width: 90%;
        }
    }


.single ul,
.hasDos ul {
    border-left: 2px solid var(--blue-aqua-3);
    padding-left: 15px;
    margin-bottom: 45px;
}

.single h1, .hasDos h1,
.single h2, .hasDos h2,
.single h3 .hasDos h3 {
    font-weight: 800;
}

.single h2,
.hasDos h2 {
    color: var(--rich-blue);
    font-size: calc(var(--h2-main) - 7px);
    text-align: left;
}
.single h3,
.hasDos h3 {
    font-size: var(--h3-small);
    color: var(--rich-blue);
    text-transform: uppercase;
    margin-bottom: 13px;
}

.single p, .hasDos p,
.single li, .hasDos li,
.single a, .hasDos a {
    color: var(--dark-gray);
    margin-bottom: 15px;
}

.hasDos {
    display: flex;
    flex-flow: column nowrap;
    padding-top: 80px;
    padding-bottom: 80px;
}
    @media (min-width: 991px){
        .hasDos {
            flex-flow: row nowrap;
        }
    }

.hasDos h1 {
    color: var(--rich-blue);
    font-size: var(--h1-small);
}
.hasDos h1:after {
    content: '';
    display: block;
    width: 35px;
    height: 3px;
    background-color: var(--blue-aqua-3);
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: inherit;
    margin-right: inherit;
}

.hasDos > div {
    flex: 50%;
    padding: 25px;
}
    @media (min-width: 991px){
        .hasDos > div {
            flex: 50%;
            padding: 25px;
        }
    }


/**
 * Three-Columns with Links
 **************************/
.three-up-links {
    background: white;
}
.container-three-up {
    display: flex;
	flex-flow: column nowrap;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
    padding-right: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
}
    @media (min-width: 991px){
        .container-three-up {
            flex-flow: row nowrap;
            min-height: 550px;
            margin-left: auto;
            margin-right: auto;
            width: 85%;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    @media (min-width: 1399px){
        .container-three-up {
            width: var(--min-desktop-lg);
        }
    }

.container-three-up .col {
    flex: 1;
    min-height: 250px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}
    @media (min-width: 991px){
        .container-three-up .col {
            align-items: flex-start;
        }
    }

.container-three-up .col:first-child {
    transform: translateY(0px);
}    
    @media (min-width: 991px){
        .container-three-up .col:first-child {
            position: relative;
            bottom: 60px;
        }
    }

.container-three-up .col:nth-child(2) {
    transform: translateY(0px);
    padding-left: 0;
    padding-right: 0;
}
    @media (min-width: 991px){
        .container-three-up .col:nth-child(2) {
            position: relative;
            bottom: 30px;
            padding-left: 25px;
            padding-right: 25px;
        }
    }


.container-three-up img {
    min-width: 65px;
    height: auto;
}

a.col-link {
    display: flex;
    font-family: proxima-nova, 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 15px;
}

a.col-link:hover > span,
a.col-link:focus > span {
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    padding-left: 20px;
}

a.col-link span {
    display: flex;
    padding-left: 10px;
}
a.col-link span img {
    min-width: 25px;
    max-width: 25px;
}


/**
 * Two-Columns Map and Locations
 *******************************/

.container-two-up {
    display: flex;
    flex-flow: column nowrap;
    /*margin-top: 120px;*/
}
    @media (min-width: 991px){
        .container-two-up {
            flex-flow: row;
            margin-top: 0;
        }
    }

.container-two-up > div {
    flex: 1;
}
.container-two-up > .col-map {
    position: relative;
}
.container-two-up > .col-map .foreground-image {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    transform: translateY(-205px);
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
    @media (max-width: 990px){
    .container-two-up > .col-map .foreground-image {
            transform: translateY(-43%);
        }
    }

.col-map .map-settings {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
.col-map .map-settings > p {
    padding: 0;
    margin: 0;
    line-height: 0; 
}
.col-map .map-settings iframe {
    width: 100%;
    min-height: 520px;
}

.col-location {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}
.col-location > .inner {
    padding: 30px 13%;
    color: white;
}
    @media (max-width: 990px){
        .col-location > .inner {
            padding: 80px 35px;
        }
    }

.col-location > .inner > p {
    margin-top: 0;
    color: white;
}
.col-location > .inner > h3 span {
    font-size: 75%;
}


/** reverse combo **/
@media (min-width: 991px){
    section.two-up-combo:nth-child(odd) .container-two-up {
        flex-direction: row-reverse;
    }
}

/**
 * CTA Version 1 & 2
 ***************/

.simple1 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-top: 65px;
    padding-bottom: 65px;
    align-items: center;
}
.simple1 h2 {
    text-align: center;
}
    @media (min-width: 991px){
        .simple1 {
            min-height: 380px;
        }
    }

.simple1 form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.simple2 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
    align-items: center;
}
.simple2 h2 {
    text-align: center;
    margin: 0 auto;
    font-size: calc(var(--h2-main) - 12px);
    line-height: 1.25;
}
.simple2 h2:after {
    content: '';
    display: block;
    width: 35px;
    height: 3px;
    background-color: var(--blue-aqua-3);
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: inherit;
    margin-right: inherit;
}
    @media (min-width: 991px){
        .simple2 {
            padding-top: 100px;
            padding-bottom: 100px;
            min-height: 350px;
        }
    }

.simple2 p {
    margin-bottom: 0;
}


/**
* Center 1
*************/
.center1 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
}
.center1 h2 {
    text-align: center;
}

 
 /**
 * Donate CTA
 ************/

.donate {
    display: flex;
    flex-flow: column nowrap;
    min-height: 500px;
}
    @media (min-width: 991px){
        .donate {
            flex-flow: row nowrap;        
        }
    }

.donate > .left {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.donate > .left .inner {
    padding: 80px;
}
.donate > .left .inner p {
    color: white;
}
.donate > .left .inner form {
    display: inline-block;
}
.donate > .left .inner form:first-of-type {
    padding-right: 20px;
    margin-bottom: 20px;
}

.donate .right {
    flex: 1;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    position: relative;
}
.donate .right img {
    min-width: 125%;
}



/**
* Two-Columns UL LI lists
**************************/
.two-up-list {
    display: flex;
    flex-flow: column;
    margin: 80px auto 40px;
}
.two-up-list .inner {
    display: flex;
    flex-flow: column;
}
    @media (min-width: 991px){
        .two-up-list .inner {
            flex-flow: row;
        }
    }

.two-up-list .inner > div {
    flex: 1;
    margin: 25px 0;
    padding-right: 2%;
}
    @media (min-width: 991px){
        .two-up-list .inner > div:first-child {
            padding-right: 8%;
        }
    }


.two-up-list .inner ul {
    border-left: 2px solid var(--blue-aqua-3);
    padding-left: 15px;
    margin-bottom: 45px;
}

.two-up-list h1, .two-up-list h2 {
    font-weight: 800;
    /*text-align: center;*/
}

.two-up-list .inner h2 {
    color: var(--rich-blue);
    font-size: calc(var(--h2-main) - 7px);
    text-align: left;
}
.two-up-list .inner h3 {
    font-size: var(--h3-small);
    color: var(--rich-blue);
    text-transform: uppercase;
    margin-bottom: 13px;
}

.two-up-list p,
.two-up-list li,
.two-up-list a {
    color: var(--dark-gray);
    margin-bottom: 10px;
}


/** v2 **/

.simple-lists-footer {
    background-color: var(--blue-aqua-2);
}
.simple-lists-footer h2 {
    font-size: calc(var(--h3-main) - 50%);
}

.simple-lists-footer .two-up-list {
    padding: 40px 0;
    max-width: 100%;
    margin-bottom: 0;
}
    @media (min-width: 991px){
        .simple-lists-footer .two-up-list {
            padding: 80px 0;
            max-width: 60%;
        }
    }

/**
* Two-Columns Paragraphs
**************************/

.col-data-2 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}
.col-data-2 > .inner {
    padding: 30px 13%;
}
    @media (max-width: 990px){
        .col-data-2 > .inner {
            padding: 80px 35px;
        }
    }

.col-data-2 > .inner > p {
    margin-top: 0;
}

.col-data-2 h2 {
    color: var(--rich-blue);
}
    @media (max-width: 990px){
        .col-data-2 h2 {
            font-size: var(--h2-small);
        }
    }

.col-data-2 h2:after {
    content: '';
    display: block;
    width: 35px;
    height: 3px;
    background-color: var(--blue-aqua-3);
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: inherit;
    margin-right: inherit;
}

.col-data-2 ul {
    border-left: 2px solid var(--blue-aqua-3);
    padding-left: 15px;
}

.col-data-2 h1, .col-data h2 {
    color: var(--rich-blue);
    font-size: calc(var(--h2-main) - 12px);
    font-weight: 800;
    line-height: 1.25;
    margin-bottom: 15px;
}
.col-data p,
.col-data li,
.col-data a {
    color: var(--dark-gray);
    margin-bottom: 10px;
}

.col-image {
    display: flex;
}
.col-image img {
    width: 100%;
    object-fit: cover;  
}
    

/**
* Two-Columns UL LI lists
**************************/

.col-data {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}
.col-data > .inner {
    padding: 30px 13%;
}
    @media (max-width: 990px){
        .col-data > .inner {
            padding: 80px 35px;
        }
    }

.col-data > .inner > p {
    margin-top: 0;
}

.col-data h2 {
    color: var(--rich-blue);
}

.col-data ul {
    border-left: 2px solid var(--blue-aqua-3);
    padding-left: 15px;
}

.col-data h1, .col-data h2 {
    color: var(--rich-blue);
    font-size: calc(var(--h2-main) - 12px);
    font-weight: 800;
    line-height: 1.25;
    margin-bottom: 15px;
}
.col-data p,
.col-data li,
.col-data a {
    color: var(--dark-gray);
    margin-bottom: 10px;
}

.col-image {
    display: flex;
}


/**
* Two-Up Pricing
****************/
.container-simple.prices {
    display: flex;
}
.container-simple.prices > div {
    flex: 1;
    margin-top: 90px;
    margin-bottom: 90px;
    padding: 0 25px;
}
.container-simple.prices > div:first-child {
    margin-bottom: 0;
}
.container-simple.prices > div:last-child {
    margin-top: 35px;
}
    @media (min-width: 991px){
        .container-simple.prices > div {
            padding: 0 10%;
        }
        .container-simple.prices > div:first-child {
            margin-bottom: 90px;
        }
        .container-simple.prices > div:last-child {
            margin-top: 90px;
        }
    }
.container-simple.prices ul {
    border-left: 2px solid var(--blue-aqua-3);
    padding-left: 15px;
    display: flex;
    flex-flow: row wrap;
    margin-top: 15px;
    margin-bottom: 35px;
}

.container-simple.prices h1,
.container-simple.prices h2 {
    font-weight: 800;
    font-size: calc(var(--h2-main) - 14px);
    line-height: 1.25;
}
.container-simple.prices li {
    font-weight: 800;
    flex: 1 0 85%;
    font-size: calc(var(--p-main) + 1px);
    margin-bottom: 15px;
}
.container-simple.prices li:last-of-type {
    margin-bottom: 0;
}
.container-simple.prices span {
    color: var(--blue-aqua-3);
    font-weight: 700;
    flex: 1 0 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 15px;
}
.container-simple.prices span:last-of-type {
    margin-bottom: 0;
}

/** list only **/
.left_products.pricelist h2.intro {
    font-size: var(--h2-main);
}
.left_products.pricelist h2.intro:first-of-type:after {
    content: '';
    display: block;
    width: 35px;
    height: 3px;
    background-color: var(--blue-aqua-3);
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: inherit;
    margin-right: inherit;
}

.left_products.pricelist ul {
    border: none;
    padding-left: 0;
    margin-bottoM: 0;
}

.left_products.pricelist li {
    font-weight: 800;
    flex: 1;
    font-size: calc(var(--h3-main) - 11px);
    margin-bottom: 0;
}

.left_products.pricelist span.inline {
    display: inline-block;
    padding-left: 10px;
    font-size: 85%;
}

.right_products.pricelist h2:nth-child(n+4){
    font-size: calc(var(--h2-small) - 14px);
}

/**
* Pricing Package
*****************/

.container-simple.packages {
    display: flex;
}
.container-simple.packages > div {
    flex: 1;
    margin-top: 90px;
    margin-bottom: 90px;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    text-align: center;
}
    @media (min-width: 991px){
        .container-simple.packages > div {
            padding: 0 10%;
        }
    }

.container-simple.packages h1,
.container-simple.packages h2 {
    font-weight: 800;
    font-size: calc(var(--h2-main) - 10px);
    line-height: 1.25;
    margin: 0 auto;
}

.container-simple.packages h1:after,
.container-simple.packages h2:after {
    content: '';
    display: block;
    width: 35px;
    height: 3px;
    background-color: var(--blue-aqua-3);
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: inherit;
    margin-right: inherit;
}
.container-simple.packages .inner {
    flex-flow: column;
}
.container-simple.packages ul {
    margin-top: 15px;
    margin-bottom: 35px;
}
.container-simple.packages li {
    font-weight: 800;
    font-size: calc(var(--p-main) + 2px);
    margin-bottom: 5px;
}
.container-simple.packages p {
    margin-top: 5px;
}
.container-simple.packages span {
    color: var(--blue-aqua-3);
    padding-left: 12px;
}


/**
* Button Banner Link
*******************/
.banner1 {
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 2%;
    padding-right: 2%;
}
    @media (min-width: 991px){
        .banner1 {
            padding-left: 5%;
            padding-right: 5%;
        }
    }

.banner1 > * {
    flex: 1;
    margin-bottom: 35px;
}
    @media (min-width: 991px){
        .banner1 > * {
            margin-bottom: 0;
        }
    }

.banner1 h2 {
    font-size: calc(var(--h2-main) - 7px);
    line-height: 1.25;
    width: 100%;
}
    @media (min-width: 991px){
        .banner1 h2 {
            width: 80%;
        }
    }

.btndiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btndiv button {
    width: 100%;
}
    @media (min-width: 991px){
        .btndiv button {
            width: auto;
        }
    }


/** btn only **/

.more_details p {
    margin-top: 10px;
    font-size: 20px;
}

/**
 * Promotions
 ************/

.promos h2 {
    font-weight: 800;
    font-size: calc(var(--h2-main) - 10px);
    color: var(--rich-blue);
    line-height: 1.25;
    margin: 0 auto;
}
.promos ul {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
}
    @media (min-width: 991px){
        .promos ul {
            flex-flow: row wrap;
            width: 100%;
            align-items: unset;
        }
    }
    
.promos ul li {
    flex: 1;
    padding: 50px 20px;
}
    @media (min-width: 991px){
        .promos ul li {
            flex: 1 0 33.3%;
            padding: 2.5% 2%;
        }
    }

.promos ul li img.promo_img{
    height: 100%;
    object-fit: contain;
    margin-bottom: 12px;
}
    @media (min-width: 991px){
        .promos ul li img.promo_img {
            height: 325px;
            width: 100%;
            object-fit: cover;
        }
    }



/**
 * Subscribe
 ************/

.container-simple.subscribe {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0 50px;
}
.container-simple.subscribe p {
    margin: 0 auto;
    text-align: center;
}

.ctct-form-embed.form_0 .ctct-form-defaults {
    background: transparent!important;
}
div.ctct-form-embed form.ctct-form-custom {
    display: flex;
    flex-flow: column wrap;
    max-width: 100%;
}
    @media (min-width: 991px){
        div.ctct-form-embed form.ctct-form-custom {
            max-width: 50%;
        }
    }

div.ctct-form-embed form.ctct-form-custom > *{
    flex: 1;
}
div.ctct-form-embed form.ctct-form-custom input.ctct-form-element {
    box-shadow: none!important;
    border: 2px solid var(--blue-aqua-3)!important;
    border-radius: 0!important;

}
div.ctct-form-embed form.ctct-form-custom label.ctct-form-label {
    font-family: proxima-nova, 'Open Sans', sans-serif!important;
    font-style: normal!important;
    font-size: var(--hero-button-size)!important;
    font-weight: 600!important;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--dark-gray)!important;
}


/**
 * Contact
 *********/
.container-simple.contact {
    flex-flow: column nowrap;     
    margin: 80px auto 40px;
    padding-right: 4%;
    padding-left: 4%;

}
    @media (min-width: 991px){
        .container-simple.contact {
            flex-flow: row nowrap;    
            padding-right: 10%;
            padding-left: 10%;
        } 
    }
    
.container-simple.contact > div {
    flex: 1;
}

@media (min-width: 991px){
    .container-simple.contact .col-right {
        transform: translateY(-25px);
    }
}

.container-simple.contact h1,
.container-simple.contact h2 {
    color: var(--rich-blue);
    font-weight: 800;
    font-size: calc(var(--h2-main) - 20px);
    line-height: 1.25;
}

.container-simple.contact form label {
    display: none;
}
.container-simple.contact ul {
    border-left: 2px solid var(--blue-aqua-3);
    padding-left: 10px;
    margin-top: 20px;
}
.container-simple.contact li {
    font-family: proxima-nova, 'Open Sans', sans-serif;
    font-style: normal;
    margin-bottom: 10px;
    color: var(--dark-gray);
}
.container-simple.contact li strong {
    color: var(--rich-blue);
    font-size: var(--p-small);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.container-simple.contact span {
    color: var(--dark-gray);
    margin-bottom: 15px;
}

.container-simple.contact p {
    margin: 0;
}

.container-simple.contact input,
.container-simple.contact textarea {
    width: 100%;
    border: 2px solid var(--blue-aqua-3)!important;
    line-height: 2.5;
    text-indent: 10px;
    border-radius: 0!important;
    outline: 0;
}
.container-simple.contact textarea {
    max-height: 200px;
}
.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
    border-color: var(--blue-aqua-3)!important;
    line-height: 2.5;
}
.container-simple.contact button, .container-simple.contact input[type="button"],
.container-simple.contact input[type="reset"], .container-simple.contact input[type="submit"]{
    font-family: proxima-nova, 'Open Sans', sans-serif;
    font-style: normal;
    font-size: var(--hero-button-size);
    font-weight: 800;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 2.4;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    cursor: pointer;
    z-index: 1;
    background: var(--rich-blue)!important;
    border-color: var(--rich-blue)!important;
}
.container-simple.contact button:hover, .container-simple.contact button:focus,
.container-simple.contact input[type="button"]:hover, .container-simple.contact input[type="button"]:focus,
.container-simple.contact input[type="reset"]:hover, .container-simple.contact input[type="reset"]:focus,
.container-simple.contact input[type="submit"]:hover, .container-simple.contact input[type="submit"]:focus {
    background: black!important;
    color: white;
}

/**
 * Hours of Operation 
 *******************/

.container-simple.banner2 {
    padding-top: 80px;
    padding-bottom: 80px;
    flex-flow: column nowrap;
}

.container-simple.banner2 > h2 {
    text-align: center;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    color: var(--rich-blue);
}

.container-simple.banner2 > h2:after {
    content: '';
    display: block;
    width: 35px;
    height: 3px;
    background-color: var(--blue-aqua-3);
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: inherit;
    margin-right: inherit;
}
    
.container-simple.banner2 .info {
    display: flex;
    flex-flow: column nowrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}
    @media (min-width: 991px){
        .container-simple.banner2 .info {
            flex-flow: row nowrap;
        }
    }

.container-simple.banner2 .info h2 {
    color: var(--rich-blue);
    font-size: calc(var(--h3-main) - 10px);
}

.container-simple.banner2 .info p {
    color: var(--rich-blue);
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}
.container-simple.banner2 .info p strong {
    color: var(--blue-aqua-3);
    letter-spacing: 1px;
    font-weight: 700;
    font-size: calc(var(--p-main) - 2px);
}

.container-simple.banner2 .info .left,
.container-simple.banner2 .info .middle {
    position: relative;
}

.container-simple.banner2 .info .left:after,
.container-simple.banner2 .info .middle:after{
    content: none;
    display: block;
    height: 100%;
    width: 2px;
    background-color: var(--blue-aqua-3);
    position: absolute;
    top: 0;
}
    @media (min-width: 1399px){
        .container-simple.banner2 .info .left:after,
        .container-simple.banner2 .info .middle:after{
            content: '';
            left: 126%;
        }
    }
    
/**
  * Three-Up Staff Vet
  *******************/

.container-simple.three-up-items {
    display: flex;
    flex-flow: column nowrap;
    margin: 80px auto;
}
    @media (min-width: 991px){
        .container-simple.three-up-items {
            flex-flow: row nowrap;
        }
    }
    
.container-simple.three-up-items > *:first-child {
    flex: 0 0 33%;
    margin-bottom: 35px;
}
.container-simple.three-up-items > *:last-child {
    flex: 0 0 66%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
    @media (min-width: 991px){
        .container-simple.three-up-items > *:last-child {
            flex: 1;
            flex-flow: row wrap;
        }
    }

.container-simple.three-up-items h2 {
    color: var(--rich-blue);
}
.container-simple.three-up-items h2:after {
    content: '';
    display: block;
    width: 35px;
    height: 3px;
    background-color: var(--blue-aqua-3);
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: inherit;
    margin-right: inherit;
}

.container-simple.three-up-items .holder {
    flex: 0 0 50%;
    padding-right: 0;
    display: flex;
    flex-flow: column nowrap;
}
    @media (min-width: 991px){
        .container-simple.three-up-items .holder {
            padding: 0 4%;
        }
    }

.container-simple.three-up-items .holder .item {
    margin-bottom: 15px;
}
.container-simple.three-up-items .holder img {
    height: auto;
    object-fit: cover;
    width: 100%;
}   
    @media (min-width: 991px){
    .container-simple.three-up-items .holder img {
            height: 500px;
        }   
    }
    
.container-simple.three-up-items .holder h3 {
    color: var(--rich-blue);
    font-weight: 800;
    font-size: calc(var(--h3-small) + 30%);
    margin-bottom: 5px;
}
.container-simple.three-up-items .holder p {
    color: var(--blue-aqua-3);
    margin-top: 0;
    font-weight: 700;
    text-transform: uppercase;
}

/** more staff **/
.container-simple.three-up-items .holder-full {
    flex: 1;
    padding-right: 0;
    display: flex;
    flex-flow: column nowrap;
}
    @media (min-width: 991px){
        .container-simple.three-up-items .holder-full {
            padding: 0 4%;
        }
    }

.container-simple.three-up-items .subhead {
    color: var(--rich-blue);
}
.container-simple.three-up-items .holder-full img {
    width: 100%;
}

.container-simple.three-up-items .holder-full p {
    color: var(--rich-blue);
    font-weight: 700;
    font-size: calc(var(--p-main) + 15%);
    text-align: left;
}
    @media (min-width: 991px){
        .container-simple.three-up-items .holder-full p {
           text-align: center;
        }
    }



/**
  * Employment
  ************/

.employment_sec {
    display: flex;
}
.employment {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 65px;
} 
.employment h2 {
    color: var(--rich-blue);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}
.employment h2:after {
    content: '';
    display: block;
    width: 35px;
    height: 3px;
    background-color: var(--blue-aqua-3);
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: inherit;
    margin-right: inherit;
}
  
.position {
    display: flex;
    flex-flow: column nowrap;
}
    @media (min-width: 991px){
        .position {
            display: flex;
            flex-flow: row nowrap;
        }
    }

@media (min-width: 991px){
    .position:nth-child(even){
        flex-direction: row-reverse;
    }
}

.position > .left,
.position > .right {
    flex: 50%;
}

.position > .left img {
    height: auto;
    width: auto;
    object-fit: unset;
}
    @media (min-width: 991px){
        .position > .left img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

.position > .right {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.position > .right .inner {
    height: 100%;
    align-items: inherit;
    display: inherit;
    flex-flow: inherit;
    justify-content: inherit;
    padding: 50px;
}
    @media (min-width: 991px){
        .position > .right .inner {
            padding: 130px;
            align-items: flex-start;
        }
    }

.position h2 {
    color: var(--rich-blue);
    margin: 0;
    width: 100%;
}
.position h2:after {
    content: '';
    display: block;
    width: 35px;
    height: 3px;
    background-color: var(--blue-aqua-3);
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: inherit;
    margin-right: inherit;
}
  
/**
 * community sponsor
 ******************/
.sponsors {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    margin-top: 80px;
    margin-bottom: 80px;
}
    @media (min-width: 991px){
        .sponsors {
            flex-flow: row wrap;
        }
    }
.sponsor {
    flex: 1 0 25%;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 150px;
}
.sponsor span {
    color: var(--rich-blue);
    font-family: proxima-nova, 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-top: 20px;
}  

/************************/
/** inner page control **/
/************************/

body:not(.home) main {
    background-color: var(--blue-aqua-2);
}

.hasVid {
    display: flex;
}
.video {
    margin: 0 auto 45px;
    width: 100%;
}
    @media (min-width: 991px){
        .video {
            width: 70%;
        }
    }