.head-mobile {
    display: block;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    z-index: 1;
}
    @media (min-width: 991px){
        .head-mobile {
            display: none;
        }
    }
    
body.home header#masthead {
    background: initial;
}
    @media (min-width: 640px){
        body.home header#masthead {
            background: transparent;
        }
    }



/** mobile menu **/
input#burger {display: none;}

@media (max-width: 991px){
    nav#site-navigation {
        display: none;
    }
}
@media (min-width: 992px){
    nav#site-navigation {
        display: flex;
    }
}

@media (max-width: 991px){
    .site-branding {
        padding-left: 30px;
    }
}

.mobile {
    display: block;
}
    @media (min-width: 992px){
        .mobile {
            display: none;
        }
    }

.mobile h1 {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 11;
    font-size: 20px;
    font-weight: 900;
    font-family: sans-serif;
    text-transform: uppercase;
}
.mobile h1 > span {
    text-transform: none;
    opacity: 0.5;
    font-weight: 300;
    font-size: 12px;
}
.mobile input + label {
    position: fixed;
    top: 85px;
    right: 40px;
    height: 20px;
    width: 25px;
    z-index: 12;
}
.mobile input + label:before {
    content: '';
    background: white;
    height: 200px;
    position: relative;
    display: block;
    width: 45px;
    height: 40px;
    transform: translate(-9.5px, -10px);
	box-shadow:0 0 4px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
}
.mobile input:checked + label:before {
    background: transparent;
}
.mobile input + label span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: var(--rich-blue);
    transition: 0.25s;
    box-shadow: 0px 0px 39px rgba(255, 255, 255, 0.15);
    -moz-box-shadow: 0px 0px 39px rgba(255, 255, 255, 255.15);
    -webkit-box-shadow: 0px 0px 39px rgba(255, 255, 255, 0.15);
}
.mobile input + label span:first-child {
    top: 3px;
}
.mobile input + label span:nth-child(3) {
    top: 17px;
}
.mobile label:hover {
    cursor: pointer;
}
.mobile input:checked + label span {
    background: white;
    opacity: 0;
    top: 50%;
}
.mobile input:checked + label span:first-child {
    opacity: 1;
    transform: rotate(405deg);
}
.mobile input:checked + label span:nth-child(3) {
    opacity: 1;
    transform: rotate(-405deg);
}
.mobile input ~ nav {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 11;
    transition: 0.25s;
    transition-delay: 0.25s;
    overflow: hidden;
}
.mobile input ~ nav > div > ul {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.mobile input ~ nav > div > ul > li {
    opacity: 0;
    transition: 0.25s;
    transition-delay: 0s;
}
.mobile input ~ nav > div > ul > li > a {
	text-align: center;
	position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-family: 'Montserrat', 'Open-Sans', sans-serif;
    display: block;
    padding: 25px;
}
.mobile input ~ nav > div > ul > li > a:hover:after,
.mobile input ~ nav > div > ul > li > a:focus:after {
    content: '';
    width: 100%;
    height: 3px;
    background: var(--blue-aqua-3);
    display: block;
    position: relative;
    text-align: center;
    top: 20px;
}
.mobile input:checked ~ nav {
    background: var(--rich-blue);
    height: 100%;
    transition-delay: 0s;
}
.mobile input:checked ~ nav > div > ul > li {
    opacity: 1;
    transition-delay: 0.25s;
}


/**sub**/
ul.sub-menu {
    margin-left: 0;
}
ul.sub-menu li {
    text-align: center;
}
ul.sub-menu a {
    color: white;
    font-weight: 800;
    text-align: center;
    font-size: 80%;
    line-height: 2.25;
}

