
/** Start Global Variables **/
:root {

	--blue-aqua: #a3d9db;
	--blue-aqua-2: #edf9f9;
	--blue-aqua-2b: rgba(156, 227, 227, 20);
	--blue-aqua-3: #7ac6d0;
	--rich-blue: #0A3269;
	--dark-gray: #818181;

	--hero-heading: 84px;
	--hero-paragraph: 20px;
	--hero-button-size: 16px;
	--hero-content-color: #818181;
	--hero-content-size: 16px;

	--h1-main: 50px;
	--h1-small: 44px;
	--h2-main: 44px;
	--h2-small: 36px;
	--h3-main: 36px;
	--h3-small: 19px;
	--p-main: 16px;
	--p-small: 14px;
	--menu-small: 12px;
	--footer-li: 20px;

	--min-desktop-lg: 1399px;
	--max-desktop: 1398px;
	--min-desktop: 991px;
	--max-tablet: 990px;
	--min-tablet: 640px;
	--max-mobile: 639.5px;

 }

 /** end variables **/

