
/** Start Global Variables **/
:root {

	--blue-aqua: #9CE3E3;
	--rich-blue: #0A3269;

	--hero-heading: 82px;
	--hero-paragraph: 20px;
	--hero-button-size: 18px;

	--h1-main: 50px;
	--h1-small: 44px;
	--h2-main: 36px;
	--h2-small: 32px;
	--h3-main: 36px;
	--h3-small: 19px;
	--p-main: 16px;
	--p-small: 14px;
	--menu-small: 12px;

	--min-desktop-lg: 1399px;
	--max-desktop: 1398px;
	--min-desktop: 991px;
	--max-tablet: 990px;
	--min-tablet: 640px;
	--max-mobile: 639.5px;

 }

 /** end variables **/

